@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Welcome to My World</h1>
        <p>
            This app will allow you to plan for world trips
        </p>
        <a asp-controller="App" asp-asp-action="Trips" class="btn bt-lg btn-success">View my trips</a>
    </div>
</div>